.card{
    border: 1px solid black;
    margin: 50px;
}

.card #xhr-1 {
    background-color: aqua;
}

.card #xhr-2 {
    background-color: blueviolet;
}

.card #xhr-3 {
    background-color: greenyellow;
}

#navigation {
    visibility: hidden;
}